<html>
<head>
	<title>Plant Screen</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- gives browser instructions on how to control
	page dimensions and scaling -->
	

	<link href="css/bootstrap.css" rel="stylesheet">
	<link href="css/bootstrap-theme.css" rel="stylesheet">
	<link href="css/plant.css" rel="stylesheet">
</head>
<body>
	<div class = "container">
		<h2><i class="arrow leftArrow"></i>Friend Name</h2>
		<hr size="30">
	<p>You have a __ streak with Friend</p>
	<img src = "https://i.imgur.com/Ck3KvNi.png">
	<div class = "inLine">
		<div class = "right">
			<h4>Friend:</h4>
			<h5>_/8</h5>
		</div>
		<div class = "left">
			<h4>You:</h4>
			<h5>_/8</h5>
		</div>
	</div>
	<div class="btn-group">
  		<button class="button">Sip</button>
  		<button class="button">Friends</button>
  		<button class="button">Archive</button>
	</div>


	<script src= "js/bootstrap.js"></script>
	</div>

</body>
</html>
