<html>
<head>
  <title>Plant Screen</title> 
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- gives browser instructions on how to control
  page dimensions and scaling -->
  

  <link href="css/bootstrap.css" rel="stylesheet">
  <link href="css/bootstrap-theme.css" rel="stylesheet">
  <link href="css/plant.css" rel="stylesheet">
</head>
<body>
  <div class = "container">
    <h2><i class="arrow leftArrow" onclick="history.back(-1)"></i>Sip</h2>
    <hr size="30">
  <h2>COMING SOON!</h2>
  <div class="btn-group" align="center">
        <a href = "sip" class="button">Sip</a>
        <a href="friends" class="button">Friends</a>
  </div>
  </div>
  <script src="https://code.jquery.com/jquery.js"></script>
  <script src= "js/bootstrap.js"></script>

</body>
</html>
